.ascii-art-container {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.ascii-art {
  color: #ffee00; 
  font-family: 'Courier New', Courier, monospace; 
  text-align: left; 
  white-space: pre; 
}

@media (max-width: 500px) {
  .ascii-art {
    text-align: center;
    font-size: 0.60em; /* Adjust the size as needed */
  }
}
