.info-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px; 
  box-sizing: border-box;
}


@media (max-width: 1200px) {
  .info-cards-container {
    justify-content: center;
  }

  .info-card {
    width: 45%; 
  }
}

@media (max-width: 768px) {
  .info-card {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .info-card {
    width: 90%;
  }
}
